@font-face {
  font-family: 'iconfont';  /* project id 2495284 */
  src: url('//at.alicdn.com/t/font_2495284_1k91ttkl6uu.eot');
  src: url('//at.alicdn.com/t/font_2495284_1k91ttkl6uu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2495284_1k91ttkl6uu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2495284_1k91ttkl6uu.woff') format('woff'),
  url('//at.alicdn.com/t/font_2495284_1k91ttkl6uu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2495284_1k91ttkl6uu.svg#iconfont') format('svg');
}

  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }